.navbar{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    font-family: 'Space Grotesk';
    color: var(--white);
}

.navbar_inner{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_menu{
    display: flex;
    gap: 50px;
    font-family: "Poppins";
}

.logo{
    font-family: 'Space Grotesk';
    font-size: 20px;
    font-weight: 900;
}